version 0

project "all" root="." {
  target "build" builder="@snuggery/snuggery:glob" {
    options include="*"
  }
}

(abstract)project "yarn-plugin" {
  target "build" builder="@snuggery/snuggery:execute" {
    options {
      package "@yarnpkg/builder"
      arguments "build" "plugin"
    }
  }
}

project "bucket" extends="yarn-plugin" root="packages/bucket"
project "publish-extra" extends="yarn-plugin" root="packages/publish-extra"
project "super-delux" extends="yarn-plugin" root="packages/super-delux"
